.about {
  padding-top: 80px;

  h3 {
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 40px;
  }
}

.about__title {
  font-size: 30px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 60px;
}

.about__our-info {
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
}

.about__info-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  h3 {
    flex-basis: 100%;
  }

  p {
    position: relative;
    margin: 0;
    padding-top: 80px;

    &:nth-of-type(1) {
      &::before {
        content: "";
        position: absolute;
        bottom: 35px;
        left: 0;
        width: 70px;
        height: 70px;
        background-image: url("../img/armchair.svg");
        background-repeat: no-repeat;
      }
    }

    &:nth-of-type(2) {
      &::before {
        content: "";
        position: absolute;
        bottom: 35px;
        left: 0;
        width: 70px;
        height: 70px;
        background-image: url("../img/theater.svg");
        background-repeat: no-repeat;
      }
    }
  }
}

.about__theatre-image {
  display: none;
}

@media (min-width: $tabletWidth) {
  .about__info {
    display: flex;
    column-gap: 20px;
  }

  .about__intro-block {
    h3 {
      text-align: left;
    }
  }

  .about__our-info {
    text-align: left;
    width: 445px;
    margin-bottom: 35px;
  }

  .about__info-block {
    flex-direction: column;

    h3 {
      flex-basis: auto;
      text-align: left;
    }

    p {
      &:nth-of-type(1) {
        margin-bottom: 15px;
      }
    }
  }

}
