.donate {
  padding-top: 80px;
}

.donate__title {
  font-size: 30px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 60px;
}

.donate__form {
  display: flex;
  flex-direction: column;
  justify-content: center;

  fieldset {
    display: grid;
    grid-template-columns: 147px 147px;
    grid-template-rows: min-content;
    gap: 10px;
    align-self: center;
    margin: 0;
    padding: 0;
    border: none;
  }

  input {
    width: 135px;
    background-color: $black2;
    color: $white;
    padding: 10px 0 10px 10px;
    border: 1px solid $grey;
    transition: 0.4s;

    &:hover,
    &:focus {
      border: 1px solid $black;
      transition: 0.4s;
    }
  }

  textarea {
    width: 292px;
    height: 80px;
    background-color: $black2;
    color: $white;
    margin: 0;
    padding: 10px 0 10px 10px;
    border: 1px solid $grey;
    resize: none;
    transition: 0.4s;

    &:hover,
    &:focus {
      border: 1px solid $black;
      transition: 0.4s;
    }
  }
}

.donate__name-zone,
.donate__contact-zone {
  display: grid;
  row-gap: 10px;
}

.donate__button {
  font-weight: 700;
  text-transform: uppercase;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 190px;
  height: 50px;
  background-color: $gold;
  color: $white;
  margin: 40px 0 0 0;
  padding: 0;
  border: none;
  cursor: pointer;
  transition: 0.4s;

  &:hover,
  &:focus {
    opacity: 0.6;
    transition: 0.4s;
  }
}

.donate__confidentiality {
  text-align: center;
  color: $grey2;
  margin-top: 30px;
  margin-bottom: 0;
}

@media (min-width: $tabletWidth) {
  .donate__form {
    display: grid;
    grid-template-columns: repeat(3, min-content);
    grid-template-rows: min-content min-content;

    fieldset {
      grid-column: 1 / 4;
      grid-row: 1;
      display: flex;
      column-gap: 20px;
    }

    input {
      width: 150px;
    }

    textarea {
      width: 272px;
    }
  }

  .donate__button {
    grid-column: 3;
    grid-row: 2;
    margin-left: auto;
  }

  .donate__confidentiality {
    text-align: left;
    grid-column: 1 / 3;
    grid-row: 2;
  }
}

@media (min-width: $pre-desktopWidth) {
  .donate__form {
    fieldset {
      column-gap: 60px;
    }

    input {
      width: 180px;
      height: 17px;
    }

    textarea {
      height: 96px;
    }
  }

  .donate__contact-zone,
  .donate__name-zone {
    row-gap: 40px;
  }
}

@media (min-width: $desktopWidth) {
  .donate {
    padding-top: 100px;
  }

  .donate__title {
    margin-bottom: 80px;
  }

  .donate__form {
    fieldset {
      column-gap: 95px;
    }

    input {
      width: 210px;
    }

    textarea {
      width: 320px;
      height: 107px;
    }
  }

  .donate__contact-zone,
  .donate__name-zone {
    row-gap: 50px;
  }
}
