.main-header {
  background-image: url("../img/mobile/bg-header.png");
  background-repeat: no-repeat;
  background-size: 768px 530px;
  padding: 40px 25px 80px 25px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/mobile/bg-header@2x.png");
    background-repeat: no-repeat;
    background-size: 768px 530px;
  }

  a {
    text-decoration: none;
    color: $white;
    transition: 0.4s;

    &:hover,
    &:focus {
      opacity: 0.6;
      transition: 0.4s;
    }
  }
}

.main-header__info-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 310px;
  margin: 0 auto;
  padding-top: 50px;
}

.main-header__main-title {
  font-size: 35px;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.main-header__main-info {
  font-weight: 300;
  width: 310px;
  margin: 0;
}

.main-header__poster-link {
  display: inline-flex;
  font-size: 18px;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 50px;
  background-color: $gold;
  margin-top: 50px;
  margin-right: auto;
}

@media (min-width: $tabletWidth) {
  .main-header {
    background-image: url("../img/tablet/bg-header.png");
    background-size: 992px 800px;
    padding: 50px 60px 300px 60px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/tablet/bg-header@2x.png");
      background-size: 992px 800px;
    }
  }

  .main-header__info-block {
    max-width: 510px;
    padding-top: 140px;
  }

  .main-header__main-title {
    font-size: 50px;
  }

  .main-header__main-info {
    width: 510px;
  }
}

@media (min-width: $pre-desktopWidth) {
  .main-header {
    background-image: url("../img/pre-desktop/bg-header.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 100px 245px 100px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/pre-desktop/bg-header@2x.png");
      background-size: cover;
    }
  }
}
