.main-footer__contact-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;

  p {
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
  }

  a {
    text-decoration: none;
    color: $white;
    transition: 0.4s;

    &:hover,
    &:focus {
      opacity: 0.6;
      transition: 0.4s;
    }
  }
}

.main-footer__adress-block {
  margin-top: 15px;
  text-align: center;
}

.main-footer__copyright-block {
  text-align: center;
  color: $grey2;
  border-top: 1px solid $grey2;
  margin-top: 30px;
  padding-bottom: 20px;

  p {
    margin-bottom: 0;
  }
}

@media (min-width: $tabletWidth) {
  .main-footer__contact-block {
    font-size: 16px;
    line-height: 26px;
    flex-direction: row;
    justify-content: space-between;
    width: 648px;
    margin: 0 auto;
  }

  .main-footer__adress-block {
    margin-top: 0;
  }

  .main-footer__copyright-block {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
    width: 648px;
    margin: 30px auto 0 auto;

    p {
      margin-top: 30px;
    }
  }
}

@media (min-width: $pre-desktopWidth) {
  .main-footer__contact-block {
    width: 792px;
    padding-top: 120px;
  }

  .main-footer__copyright-block {
    width: 792px;
  }
}

@media (min-width: $desktopWidth) {
  .main-footer__contact-block {
    width: 960px;
  }

  .main-footer__copyright-block {
    width: 960px;
  }

}
