.main-nav {
  display: flex;
  position: relative;
}

.main-nav__nav-button {
  display: block;
  background-color: transparent;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;

  &--open {
    width: 40px;
    height: 40px;
    background-image: url("../img/burger-open.svg");
    background-repeat: no-repeat;
  }

  &--close {
    position: absolute;
    top: 40px;
    left: 160px;
    width: 32px;
    height: 32px;
    background-image: url("../img/burger-close.svg");
    background-repeat: no-repeat;
  }
}

.main-nav__nav-block {
  position: absolute;
  height: 410px;
  top: -40px;
  transform: translateX(-200%);
  background-color: $black;
  padding: 100px 30px 0 30px;
  z-index: 3;
  transition: 0.4s;

  &--open {
    transform: translateX(-25px);
    transition: 0.4s;
  }
}

.main-nav__nav-list {
  font-weight: 700;
  text-transform: uppercase;
  list-style: none;
  margin: 0;
  padding: 0
}

.main-nav__nav-item {
  font-size: 16px;
  letter-spacing: 1px;

  &:not(:last-of-type) {
    margin-bottom: 20px;
  }

  a {
    &:hover,
    &:focus {
      border-bottom: 1px solid $gold;
    }
  }
}

.main-nav__link {
  height: 100%;
  border-bottom: 2px solid $gold;
  margin-left: auto;
}

@media (min-width: $tabletWidth) {
  .main-nav__nav-button {
    &--close {
      left: 205px;
    }
  }

  .main-nav__nav-block {
    height: 660px;
    top: -50px;
    padding: 140px 60px 0 60px;

    &--open {
      transform: translateX(-60px);
    }
  }

  .main-nav__nav-item {
    font-size: 18px;

    &:not(:last-of-type) {
      margin-bottom: 30px;
    }
  }
}
