.performances {
  padding-top: 80px;
}

.performances__title {
  font-size: 30px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 60px;
}

.performances__main-block {
  width: 380px;
  height: 480px;
}

.performances__list {
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.performances__button {
  display: none;
}

@media (min-width: $tabletWidth) {
  .performances__main-block {
    width: 768px;
    height: 500px;
  }

  .performances__list {
    width: 100%;
  }

  .performances__item {
    display: flex;
    justify-content: center;
  }

  .performances__image {
    width: 330px;
    height: 400px;
  }
}

@media (min-width: $pre-desktopWidth) {
  .performances__main-block {
    width: 992px;
    height: 550px;
  }

  .performances__image {
    width: 420px;
    height: 500px;
  }
}

@media (min-width: $desktopWidth) {
  .performances {
    padding-top: 100px;
  }

  .performances__title {
    margin-bottom: 80px;
  }

  .performances__main-block {
    width: 1300px;
    height: 600px;
  }

  .performances__image {
    width: 490px;
    height: 540px;
  }

  .performances__button {
    display: block;
    background-color: transparent;
    padding: 0;
    border: none;
    transition: 0.7s;

    &:hover {
      opacity: 0.7;
      transform: scale(1.2);
      transition: 0.7s;
    }

    &:disabled {
      display: none;
    }
  }
}
