.performances {
  padding-top: 80px;
}

.performances__title {
  font-size: 30px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 60px;
}

.performances__main-block {
  height: 350px;
}

.performances__list {
  width: 310px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.performances__item {
  a {
    display: block;
    width: 310px;
    height: 350px;
    transition: 0.4s;

    &:hover,
    &:focus {
      opacity: 0.6;
      transition: 0.4s;
    }
  }

  &:nth-of-type(1) {
    a {
      background-image: url("../img/project-1.png");
      background-repeat: no-repeat;
      background-size: 310px 350px;
    }
  }
}

.performances__slider-list {
  display: flex;
  column-gap: 10px;
  width: 70px;
  margin: 10px auto 40px auto;
  padding: 0;
  list-style: none;
}

.performances__slider-button {
  width: 10px;
  height: 10px;
  padding: 0;
  border: none;
  border-radius: 50%;
  background-color: $grey2;
  cursor: pointer;
  transition: 0.4s;

  &:hover,
  &:focus {
    opacity: 0.6;
    transition: 0.4s;
  }

  &--active {
    border: 2px solid $white;
  }
}

@media (min-width: $tabletWidth) {
  .performances__list {
    display: flex;
    width: 620px;
  }

  .performances__item {
    &:nth-of-type(2) {
      a {
        background-image: url("../img/project-2.png");
        background-repeat: no-repeat;
        background-size: 310px 350px;
      }
    }
    &:nth-of-type(3),
    &:nth-of-type(4) {
      display: none;
    }
  }
}
