.rating {
  display: flex;
  justify-content: center;
}

@media (min-width: $tabletWidth) {
  .rating {
    img {
      width: 768px;
      height: 550px;
    }
  }
}

@media (min-width: $pre-desktopWidth) {
  .rating {
    img {
      width: 992px;
    }
  }
}
