html, body {
  font-family: 'Roboto Condensed', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 21px;
  min-width: 380px;
  background-color: $black;
  color: $white;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.gold-text {
  color: $gold;
}
